@import url("https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap");

/*Parte do rodapé */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
/*Parte do contador de linhas */
ul{
	list-style: none;
}
/*Começo do footer*/
.footer{
  background-color: #03555d;
  padding: 70px 0;
}
/*Fonte footer*/
.footer-col{
   width: 25%;
   padding: 0 40px;
   font-family: Arial, Helvetica, sans-serif;
}
/*Parte de referencia dos links*/
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
/*Sublinhado da parte de referencia*/
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff0000;
	height: 2px;
	box-sizing: border-box;
	width: 70px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
/*Links*/
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
/**/
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

/*Parte das fontes dos links*/
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
	
}
/*Parte de ação dos links*/
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*Parte responsiva*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*Fim do radapé */
