.img1{
    position: relative;
    height: 40%;
    width: 40%;
}

.card{
    background-color: #eee;
    width: 43%;
    height: 70vh;
    margin-left: 18vh;
    border-radius: 10px;
}
.in1{
    width: 80%;
    background-color: #eee;
    text-align: center;
}